.homepage {
  // ##############################
  // Header Section
  // ##############################
  .landingContainer {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #022b3a;

    .mainArea {
      max-width: 1250px;
      width: 100%;
      margin: 0 120px;
      margin-bottom: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .textContent {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        .title {
          text-decoration: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          background: linear-gradient(90deg, #00dbde, #98dfaf);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .otherText {
          width: 400px;
          color: #adaeb6;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 36px;
        }
        .primaryButton {
          background: linear-gradient(90deg, #00dbde, #98dfaf);
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 6px;
          color: #022b3a;
          padding: 10px 20px;
          text-decoration: none;
          font-size: 14px;
        }
      }

      .gradientCircleBorder {
        background: linear-gradient(90deg, #00dbde, #98dfaf);
        width: 330px;
        height: 330px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .transparentBackground {
          background-color: #022b3a;
          width: 320px;
          height: 320px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .avatarContainer {
            border-radius: 100%;
            height: 320px;
            width: 320px;
            background-color: #313638;
            display: flex;
            align-items: center;
            justify-content: center;

            .avatar {
              height: 200px;
              width: 200px;
            }
          }
        }
        @media only screen and (max-width: 850px) {
          width: 230px;
          height: 230px;

          .transparentBackground {
            width: 220px;
            height: 220px;
            .avatarContainer {
              width: 220px;
              height: 220px;
              .avatar {
                height: 100px;
                width: 100px;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 1100px) {
        margin: 0 40px;
      }
      @media only screen and (max-width: 850px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 20px;
        .textContent {
          margin-bottom: 20px;
          .title {
            font-size: 30px;
          }
          .otherText {
            margin-bottom: 16px;
          }
        }
        .gradientCircleBorder {
          margin-top: 20px;
          align-self: center;
        }
      }
      @media only screen and (max-width: 400px) {
        .textContent {
          width: 100%;
          .otherText {
            width: 100%;
            text-align: justify;
          }
        }
      }
    }
    .slideDown {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;

      .mouse {
        margin: 0 auto;
        display: block;
        border-radius: 50px;
        border: 2px solid #fff;
        height: 40px;
        width: 22px;
        position: relative;
        opacity: 0.3;

        .move {
          position: absolute;
          background-color: #fff;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          left: 50%;
          transform: translateX(-50%);
          animation: move 2s linear infinite;
        }

        @keyframes move {
          0% {
            transform: translate(-50%, 0px);
            opacity: 0;
          }
          50% {
            transform: translate(-50%, 20px);
            opacity: 1;
          }
          100% {
            transform: translate(-50%, 30px);
            opacity: 0;
          }
        }
      }
    }
  }
  // ##############################
  // About Section
  // ##############################
  .aboutContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-image: url("/src/assets/images/whiteNatureBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contentArea {
      max-width: 1250px;
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0 120px;
      justify-content: space-between;

      .imageArea {
        width: 50%;
        .aboutMeImage {
          height: 670px;
          width: 400px;
          border-radius: 6px;

          @media only screen and (max-width: 1000px) {
            height: 450px;
            width: 266px;
          }
        }
      }
      .textArea {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          color: #022b3a;
        }
        .bodyText {
          color: #022b3abb;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 36px;
        }
        .tabsContainer {
          .tabsTitle {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .tab {
              margin-right: 10px;
              cursor: pointer;
              border-bottom: 2px solid transparent;

              .borderBottomLine {
                height: 2px;
                width: 0;
                border-radius: 6px;
                margin-top: 2px;
                background: transparent;
                transition: all 0.2s linear;
                background: linear-gradient(90deg, #00dbde, #98dfaf);
                animation: expand 0.2s linear;
                @keyframes expand {
                  0% {
                    width: 0;
                  }
                  100% {
                    width: 100%;
                  }
                }
              }
              .active {
                width: 100%;
              }
            }
          }
          .tabBody {
            margin-top: 16px;
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            color: #022b3abb;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
      @media only screen and (max-width: 1100px) {
        margin: 0 40px;
      }
      @media only screen and (max-width: 850px) {
        margin: 0 20px;
      }
      @media only screen and (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: center;
        .textArea {
          width: 100%;
          margin-bottom: 40px;
        }
        .imageArea {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  // ##############################
  // Blogs Section
  // ##############################
  .blogsContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    .contentArea {
      max-width: 1250px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .title {
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        color: #022b3a;
      }
      .gridContainer {
        max-width: 1250px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        grid-gap: 32px;
        margin: 30px 0;

        .blog {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          width: 350px;
          cursor: pointer;
          border-radius: 16px;
          transition: 0.2s all ease-in-out;
          box-shadow: 0 0 20px 2px #ddd;
          -webkit-box-shadow: 0 0 20px 2px #ddd;
          -moz-box-shadow: 0 0 20px 2px #ddd;

          .blogImageContainer {
            width: 350px;
            height: 250px;
            overflow: hidden;
            position: relative;

            .blogImage {
              border-top-right-radius: 16px;
              border-top-left-radius: 16px;
              width: 100%;
              height: 250px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
            }
            .publishedOnDate {
              margin-top: 10px;
              color: #022b3abb;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              background: linear-gradient(90deg, #00dbde, #98dfaf);
              transform: rotate(315deg);
              position: absolute;
              padding: 4px 8px;
              text-align: center;
              bottom: 24px;
              right: -56px;
              width: 200px;
            }
          }

          .blogTitle {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            color: #022b3a;
            margin: 10px 10px 0 10px;
          }
          .shortDescription {
            color: #022b3abb;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            margin: 10px 10px 20px 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:hover {
            -webkit-box-shadow: 0 0 20px 2px #bbb;
            -moz-box-shadow: 0 0 20px 2px #bbb;
            box-shadow: 0 0 20px 2px #bbb;
          }
        }
        @media only screen and (max-width: 1200px) {
          max-width: 1000px;
        }
        @media only screen and (max-width: 800px) {
          max-width: 700px;
        }
      }
    }
  }
  // ##############################
  // Contact Section
  // ##############################
  .contactContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-image: url("/src/assets/images/whiteNatureFlipped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contentArea {
      max-width: 1250px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        color: #022b3a;
      }

      .contactBody {
        width: 300px;
        text-align: center;
        color: #022b3abb;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 36px;
      }

      .contactInfoArea {
        display: flex;
        align-items: center;
        justify-content: center;

        .contactLink {
          text-decoration: none;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 20px;
          background: linear-gradient(90deg, #f5f5f5, #f5f5f5);
          color: #022b3a;
          margin: 0 10px;
          transition: 2s background linear;
          border: 2px solid #98dfaf;

          &:hover {
            background: linear-gradient(90deg, #00dbde, #98dfaf);
            border: 2px solid transparent;
          }
        }
        @media only screen and (max-width: 700px) {
          flex-direction: column;
          .contactLink {
            margin: 10px;
          }
        }
      }
      .socialIconsArea {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          margin: 50px 10px 10px 10px;
          border-radius: 100%;

          .socialIcon {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
    // @media only screen and (max-width: 700px) {
    //   padding: 60px 0;
    // }
  }
}
